
$primary:#5265E1;
$secondary: #FA5959;

.background-element{
    background: $primary;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 175px 0 0 175px;
    z-index: -1;
    padding-top:20%;
}

.background-element2{
    background: $primary;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 0 0 0;
    z-index: -1;
    padding-top:20%;
}

.container-fluid {
    position:relative;
}



@import "../node_modules/bootstrap/scss/bootstrap";

